<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <style>
        .todo {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
    </style>
</head>
<body>
    <h1>BookList</h1>
    <div>
        <form action="{{ url_for('addBook') }}" method="post">
            <input type="text" name="book_name" placeholder="bookname" required>
            <button type="submit">Add</button>
        </form>
    </div>
    <div class="content">
    {% for book in books %}
        <div class="todo">
            <p><i>{{ book[0] }}</i></p>
            <form action="{{ url_for('deleteBook', bookname=book[0]) }}" method="post">
                <button type="submit" class="btn btn-primary">Delete</button>
            </form>

        </div>
    {% endfor %}
    </div>
</body>
</html>