{% extends 'base.html' %}
{% block title %} Chat Room {% endblock %}
{% block content %}
    <h1>Chat Room</h1>
    <div>
        <form action="{{ url_for('searchDialog') }}" method="post">
            <input type="text" name="keyword" placeholder="keyword" required>
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="content">
    {% for friend in friends %}
        <p><a href="{{ url_for('chatWith', friend=friend) }}">{{ friend[0] }}</a></p>
    {% endfor %}
    </div>
{% endblock %}
</html>