{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
    <div class="login-card">
      <div class="mb-3">
        <h1 >Login...</h1>
      </div>
      <form method="post">
        <div class="mb-3">
          <input type="text" class="form-control" name="username" placeholder="username" maxlength="50" required>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" name="password" placeholder="password" maxlength="50" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
{% endblock %}
</html>


