{% extends 'base.html' %}
{% block title %}Trading Square{% endblock %}
{% block content %}
    <h1>Trading Square</h1>
    <div>
        <form action="{{ url_for('search')}}" method="post">
            <input type="text" name="keyword" placeholder="keyword" required>
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="content">
    {% for book,master,request,status in books %}
        <div class="todo">
            <p><i>bookname: {{ book }}</i></p>
            <p>
                <form action="{{ url_for('follows', followed=master) }}" method="post">
                    <strong>owner: {{ master }}</strong>
                    <button type="submit">Follows</button>
                </form>                
            </p>
            {% if status %}
                <p>status: Busy</p>
            {% else %}
                <p>status: Free</p>
            <form action="{{ url_for('borrowBook', bookname=book) }}" method="post">
                <button class="test" type="submit">Borrow</button>
            </form>
            {% endif %}
        </div>
    {% endfor %}
    </div>
{% endblock %}
<script on>
    
</script>
</html>